:root { --bg: #05070a; --blue: #006aff; --gray: #1c1f2e; --red: #e50914; }
body { background: var(--bg); color: white; font-family: sans-serif; margin: 0; overflow: hidden; }
.hidden { display: none !important; }

/* FOCO PARA SMART TV */
[tabindex="0"]:focus {
    outline: none !important;
    border: 4px solid white !important;
    transform: scale(1.08);
    box-shadow: 0 0 25px var(--blue);
    z-index: 100;
}

/* Pantallas */
.intro-bg { position: fixed; inset: 0; background: black; display: flex; justify-content: center; align-items: center; z-index: 9999; }
.login-wrapper { width: 350px; margin: 15vh auto; text-align: center; }
input { width: 100%; padding: 15px; margin-bottom: 10px; background: #222; border: none; color: white; border-radius: 5px; }

/* Grid de Películas */
.movie-grid { 
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    padding: 20px 50px; 
    height: 60vh; 
    overflow-y: auto; 
}
.poster { width: 100%; aspect-ratio: 2/3; background-size: cover; border-radius: 10px; cursor: pointer; }

/* Reproductor */
.player-overlay { position: fixed; inset: 0; background: black; z-index: 5000; }
.btn-red-close { position: absolute; top: 30px; right: 50px; background: var(--red); color: white; border: none; padding: 10px 25px; font-weight: bold; }
.episodes-container { display: flex; gap: 10px; overflow-x: auto; padding: 20px; }
.ep-btn { padding: 10px 20px; background: var(--gray); border: none; color: white; border-radius: 5px; }
