:root { --bg: #040714; --card: #1a1d29; --blue: #0063e5; --input: #31343e; }

body { 
    background: var(--bg); 
    color: white; 
    font-family: 'Segoe UI', sans-serif; 
    margin: 0; 
    overflow: hidden; 
}

.hidden { display: none !important; }

/* EFECTO PARA CONTROL REMOTO */
:focus { 
    outline: none;
    border: 4px solid white !important; 
    transform: scale(1.1); 
    box-shadow: 0 0 20px rgba(255,255,255,0.6);
    z-index: 10;
}

.login-container { width: 350px; margin: 10% auto; text-align: center; }
.logo-title { font-size: 3rem; }
.logo-title span { color: var(--blue); }

input, button { 
    width: 100%; 
    padding: 15px; 
    margin: 10px 0; 
    border-radius: 8px; 
    border: none; 
    font-size: 1.1rem;
    transition: 0.2s;
}

input { background: var(--input); color: white; }
.btn-blue { background: var(--blue); color: white; cursor: pointer; font-weight: bold; }

.navbar { padding: 20px 50px; background: rgba(0,0,0,0.8); }
.brand-bar { display: flex; gap: 15px; margin-top: 10px; }
.brand-bar button { width: auto; background: var(--card); color: white; font-size: 0.8rem; }

.movie-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 25px; 
    padding: 30px 50px; 
    height: 65vh; 
    overflow-y: auto; 
}

.poster { 
    width: 100%; 
    aspect-ratio: 2/3; 
    border-radius: 12px; 
    background-size: cover; 
    cursor: pointer; 
    border: 3px solid transparent;
    transition: 0.3s;
}

.player-overlay { 
    position: fixed; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
    background: #000; 
    z-index: 9999; 
}

.video-frame { width: 100%; height: 100%; }
.close-player { 
    position: absolute; 
    top: 20px; right: 20px; 
    width: auto; 
    background: rgba(255,0,0,0.8); 
    color: white; 
    z-index: 10000; 
}

.p-title { position: absolute; bottom: 30px; left: 30px; background: rgba(0,0,0,0.5); padding: 10px; border-radius: 5px; }
